:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

body {
  background-color: var(--cyan);
}

h1 {
  text-align: center;
}

.donut-chart {
  border-radius: 0.8rem;
  background-color: var(--white);
}

.card {
  border-radius: 0;
  border: 0;
  width: 220px;
  margin: 10px;
  display: flex;
  background: none;
}

.characterImage {
  object-fit: cover;
  padding: 10px;
  height: 260px;
}

.card:hover,
.card:hover h5 {
  background: var(--blue);
  color: var(--white);
}

@media screen and (max-width: 500px) {
  .card {
    width: 180px;
  }
}
